div#auth {
            float:right;
            width: 40%;
            text-align: right;
            font:bold 1em Arial;
        }

A {
            display:inline;
            text-decoration:none;
            color:black;
            border-bottom:1px solid blue;
            font:bold 1em Arial;
        }


table {
    border-collapse: collapse;
}

table, th, td {
    border: thin solid black;
}

th {
    background-color: gray;
    text-decoration: solid;
}


#authAction {
    position:relative;
    float: right;
}

#students { 
  float: left; 
  width: 30%; 
}


#groupStudent { 
                float:left;
                margin-left:40px;
 
}

